html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
  /* Set the background color of the page to white */
}

.App {
  text-align: center;
  background-color: white;
  /* Ensure the main container's background is white */
}

.hero {
  background-image: url('/public/assets/images/abc.png');
  /* Replace with your image path */
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.learn-more-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1A68FF;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.journals-section {
  padding: 50px 20px;
}

.journal-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;
}

.journal-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  min-width: 300px;
  max-width: 300px;
  background-color: #f0f0f0ce;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.journal-image {
  width: 100%;
  height: auto;
  border-radius: 0px;
}

.journal-details {
  text-align: center;
  margin-top: 10px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-width: 400px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid white;
  border-color: black;
  border-radius: 25px;
}

.search-box input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 25px 25px 25px 25px;
  outline: none;
}

.search-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}