html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  /* Set the background color of the entire page */
}

.App {
  text-align: center;
}

.hero {
  background-image: url('/public/assets/images/abc.png');
  /* Replace with your image path */
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.learn-more-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1A68FF;
  color: white;
  text-decoration: none;
  font-weight: bold; /* Add this line to make the text bold */
  border-radius: 5px;
}


.journals-section {
  padding: 50px 20px;
}

.journal-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.journal {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
}

.journal-image {
  width: 100%;
  height: auto;
}

.journal-content {
  padding: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.search-box input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 25px 25px 25px 25px;
  outline: none;
}

.search-icon {
  cursor: pointer;
  width: 40px;
  /* Adjust the size as needed */
  height: 40px;
  /* Adjust the size as needed */
  margin-left: 10px;
}