body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  padding: 20px;
}


nav {
  text-align: left;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

main {
  padding: 20px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

.about-me {
  float: right;
  width: 50%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #F0F0F0;
  margin-right: 5%;
  margin-top: 3%;
  border: 1px solid #ddd;
}

.about-me p {
  line-height: 1.5;
}

.profile {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #F0F0F0;
  width: 30%;
  margin-left: 5%;
  margin-top: 3%;
  border: 1px solid #ddd;

}

.recents .journal img {
  max-width: 650px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.recents .journal {
  margin-bottom: 20px;
  /* Optional: Add space between journal items */
}

.info {
  padding: 10px;

  border-radius: 5px;
}

.info .user-info {
  text-decoration: underline;
}

.info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;

}

.user-info p {
  margin-bottom: 5px;
}

button[type="submit"] {

  background-color: #1976D2;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  /* add this to center the image horizontally */
  margin: 0 auto;
}

.recents {
  float: right;
  width: 50%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #F0F0F0;
  margin-right: 5%;
  margin-top: 3%;
  border: 1px solid #ddd;
}

.journal {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.journal img {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
  margin-top: 8px;
}

.journal-actions {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 8px;
  right: 8px;
}

.journal-actions>* {
  margin-left: 8px;
  cursor: pointer;
}

.journal-title {
  font-size: 1.5em;
  margin: 0;
}

.journal-description {
  margin-top: 8px;
}