.reset-screen {
    width: 450px;
    background-color: #fff;
    padding: 40px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.password-background {
    background-image: url('/public/assets/images/ab.jpg');
    /* Adjust the URL to your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* Ensure it covers the full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reset-screen button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: calc(100% - 20px);
    display: block;
    margin-left: auto;
    margin-right: auto;
}