/* sendemailstyle.css */

.send-email-background {
    background-image: url('/public/assets/images/forgetpassword.jpg');
    /* Adjust the URL to your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* Ensure it covers the full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-screen {
    background-color: #F0F0F0;
    /* Background for form container */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    /* Adjust based on your design needs */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

#reset {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    /* Adjust margin to space out from form elements */
    text-align: center;
}

#reset:hover {
    background-color: #0056b3;
    /* Darker color on hover */
}

.lgn_link {
    text-align: center;
    margin-top: 20px;
}